.contenedor, .contenedor-2 {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: lightgreen;
    margin: 20px auto;
    border: 15px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  
  /* Primer contenedor: horizontal */
  .contenedor {
    background-color: aqua;
    flex-direction:column;
  flex-flow: column wrap;
  justify-content:space-around;        
    align-items: center;
    gap: 50px;



  }


  
  /* Segundo contenedor: vertical */
  .contenedor-2 {
    background-color: yellow;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: space-around;        
      align-items: center;
      gap: 50px;
  }
  
  /* Estilo general para ítems */
  .item1, .item2, .item3 ,.item4, .item5, .item6, .item7, .item8, .item9, .item10 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 130px;
    height: 130px;
    background-color: gray;
  }
  


  
  